body {
  font-family: "Montserrat";
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

p {
  color: #8f8f8f;
}

#title {
  background-color: #ff4c68;
  color: white;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.col-lg-6 {
  padding-left: 15.5%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 16px;
}

.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
}

/* Download Button */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
  width: 65%;
  transform: rotate(-10deg);
  position: relative;
  z-index: 1;
  right: 20%;
}

/* Features */

#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ff4c68;
  padding: 1.5rem;
}

.icon:hover {
  color: cornflowerblue;
}

/* Testimonial Section */

#testimonials {
  text-align: center;
  background-color: cornflowerblue;
  color: white;
}

.testimonial-image {
  width: 13%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: cornflowerblue;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 12%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

#pricing {
  text-align: center;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

#cta {
  text-align: center;
  background-color: #ff4c68;
  color: white;
  padding: 7% 15%;
}

.cta-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}

#footer {
  text-align: center;
  padding: 2% 5%;
}

.social-icon {
  margin: 20px 10px;
}
